<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/vue.js"></script>
    <title>Vinlotteri</title>
</head>
<body>
<div id="app">
    <h1>Vinlotteri</h1>
    <img src="https://www.svgrepo.com/show/7801/wine-glass.svg">
    <div class="page page--start" v-if="state=='start'">

        <section class="start--join">
            <h2>Bli med på et lotteri</h2>
            <label><input placeholder="Lotteri id" type="text" v-model="lottery.id"/></label>
            <button v-on:click="joinLottery" class="blue">Gå til lotteri</button>
        </section>
        <section class="start--new">
            <h2>Start nytt lotteri</h2>
            <label><input placeholder="Telefon" type="text" v-model="lottery.phone"/> </label>
            <label><input placeholder="Pris" type="text" v-model="lottery.price"/></label>
            <button v-on:click="startNewLottery" class="green">Start nytt lotteri</button>
        </section>
    </div>


    <div class="page page--overview" v-if="state=='overview'">
        <button v-if="admin" class="blue" v-on:click="goToDrawing">Gå til trekning</button>
        <section id="lottery-info">
            <p>Pris: {{lottery.price}}</p>
            <p>Vipps til: {{lottery.phone}}</p>
        </section>

        <section id="add-tickets">
            <label> <input placeholder="Navn" type="text" v-model="newTicket.username"/></label>
            <label> <input placeholder="Antall" type="number" v-model="newTicket.amount"/></label>
            <button v-on:click="addTicket" class="green">Legg til lodd</button>
        </section>
        <section id="tickets">
            <table>
                <tr v-for="(amount,name) in tickets">
                    <td>{{name}}</td>
                    <td>{{amount}}</td>
                </tr>
            </table>
        </section>
    </div>


    <div class="page page--drawing" v-if="state=='drawing'">
        <button v-on:click="drawTicket" class="green">Trekk lodd</button>
        <h1 v-bind:class="[wColor]">{{drawing.winner}}</h1>
    </div>

</div>
<script src="js/index.js"></script>
</body>
</html>