body{
    background-color: #222;
}

*{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 50px;
}



#app {
    border-radius: 25px;
    max-width: 550px;
    display: table;
    margin: 20px auto;
    width: 100%;
    padding: 20px;
    color: white;
    box-sizing: border-box;
    background-color: #333;
    text-align: center;
}

#lottery-info{
    font-weight: bold;
    font-size: 2em;
}

#add-tickets input, #add-tickets button{
    display:block;
    margin: 5px auto;
}

#add-tickets{
    box-shadow: 2px 3px 13px 1.5px rgba(0,0,0,0.3);
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px;
    max-width:400px;
    width: 100%;
}

#tickets{
    margin: 0 auto;
}

.ticket p{
    font-size: 1.2em;
}

.ticket{
    background-color: #333;
    display: inline-block;
    padding: 10px;
    border-radius: 10%;
    margin: 8px;
    box-shadow: 2px 3px 13px 1.5px rgba(0,0,0,0.3);
}

.f-green{
    color: #2ECC40;
}

.f-red{
    color: #FF4136;
}


.start--join button, .start--join label, .start--new button{
    display: block;
    margin: 0 auto;
}

section{
    margin: 50px 0;
}


input[type=text], input[type=number] {
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    border: none;
    display: inline-block;
    padding: 7px 10px 5px 10px;
    box-shadow: 1px 3px 2.51px rgba(0,0,0,0.3);
    border-radius: 3px;
    color: #FFF;
}

.green {
    background-color: #2ECC40;
}

.red{
    background-color: #FF4136;
}

.blue{
    background-color: #0074D9;
}

